<style type="text/css">
	.user
	{
		text-decoration: none;
		color:white;
		text-transform: uppercase;
	}
	.user:hover
	{
		text-decoration: none;
	}
</style>
<nav class="main_nav">
	<ul class="d-flex flex-row align-items-start justify-content-start">
		<li><a href="#">Home</a></li>
		
		{% if name %}
		<li><a href="#">About us</a></li>
		<li class="user">{{name}}<li>
		<li><a href="{% url 'main' %}">Logout</a></li>
		{% else %}
		<li class="active"><a href="{% url 'main' %}">About us</a></li>
		<li><a href="{% url 'register' %}">Register</a></li>
		<li><a href="{% url 'login' %}">Login</a></li>
		{% endif %}
	</ul>
</nav>